<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Genel</h6>
                    <ul>
                        <li>
                            <a href="/Pos/Dashboard">
                                <i class="fas fa-chart-line" style="padding-right: 5px; font-size: 20px;"></i><span>Ana Sayfa</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Menu/">
                                <i class="fab fa-elementor" style="padding-right: 5px; font-size: 20px;"></i><span>Menü</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Yönetim</h6>
                    <ul>
                        <li>
                            <a href="/Pos/Product">
                                <i class="fas fa-box" style="padding-right: 5px; font-size: 20px;"></i><span>Ürünler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Pos/Category">
                                <i class="far fa-plus-square" style="padding-right: 5px; font-size: 20px;"></i><span>Kategoriler</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Pos/Table">
                                <i class="fas fa-chair" style="padding-right: 5px; font-size: 20px;"></i><span>Masalar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Pos">
                                <i class="fas fa-utensils" style="padding-right: 5px; font-size: 20px;"></i><span>POS</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Uygulama</h6>
                    <ul>
                        <li>
                            <a href="/Pos/Calendar">
                                <i class="far fa-calendar" style="padding-right: 5px; font-size: 20px;"></i><span>Takvim ( Etkinlikler )</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Ayarlar</h6>
                    <ul>
                        <li>
                            <a href="/Pos/General-Setting">
                                <i class="fas fa-cog" style="padding-right: 5px; font-size: 20px;"></i><span>Genel Ayarlar</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Pos/Waiter-Setting">
                                <i class="fas fa-user-cog" style="padding-right: 5px; font-size: 20px;"></i><span>Garson Ayarları</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Pos/Role-Setting">
                                <i class="fas fa-user-tag" style="padding-right: 5px; font-size: 20px;"></i><span>Rol Ayarları</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>