@{
    ViewData["Title"] = "Masa Ve Bölge Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/table-area.css">
}

<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div style="display:flex; align-items:center; gap: 5px;">
                <h4 style="margin: 0;">Tanımlamalar</h4>><h6 style="margin: 0; font-weight: normal;">Masa Ve Bölgeler</h6>
            </div>
        </div>
        <p class="description">Restoranınıza ait masa ve bölgeleri bu ekrandan düzenleyebilirsiniz.</p>

        <div class="card">
            <!-- Butonlar -->
            <div class="button-container">
                <button class="btn-tableAndArea btn-addArea"><i class="fa-solid fa-plus"></i> Yeni Bölge Ekle</button>
                <button class="btn-tableAndArea btn-editArea"><i class="fa-solid fa-table-cells-large"></i> Bölgeleri Düzenle</button>
                <button class="btn-tableAndArea btn-moveArea"><i class="fa-solid fa-arrow-up-wide-short"></i> Bölgeleri Sırala</button>
                <button class="btn-tableAndArea btn-bulkAddTable"><i class="fa-solid fa-plus"></i> Yeni Masa Ekle</button>
            </div>

            <div class="scrollable-content">
                <div class="card-body">
                    <!-- Bölge Listeleme -->
                    <div class="regions-list">
                        @foreach (var area in Model.TableAreas)
                        {
                            <div class="region-box" data-id="@area.TableAreaId">@area.AreaName</div>
                        }
                    </div>
                    <div class="drop-area"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bölge Ekleme Modeli -->
<div class="modal fade" id="addAreaModal" tabindex="-1" role="dialog" aria-labelledby="regionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="regionModalLabel">Bölge Tanımlama</h5>
            </div>
            <div class="modal-body">
                <p>Yeni bir bölge tanımlayın</p>
                <div class="form-group">
                    <label for="regionName">Bölge Adı: *</label>
                    <input type="text" class="form-control" id="regionName" placeholder="Bölge Adı Giriniz">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Bölgeleri düzenlemeden önce listeleyen Model -->
<div class="modal fade" id="listAreaModal" tabindex="-1" role="dialog" aria-labelledby="editRegionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRegionModalLabel">Bölge Düzenleme</h5>
                <button type="button" class="btn btn-danger btn-addArea"><i class="fa-solid fa-plus"></i> Yeni</button>
            </div>
            <div class="modal-body">
                <p>Bölgelerinizi aşağıdan düzenleyebilirsiniz.</p>
                <ul class="list-group" id="regionList">
                    <!-- Bölgeler burada listelenecek -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Güncelleme Model -->
<div class="modal fade" id="updateAreaModal" tabindex="-1" role="dialog" aria-labelledby="updateAreaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAreaModalLabel">Bölge Düzenleme</h5>
            </div>
            <div class="modal-body">
                <p>Bölge adını aşağıdaki alana girin:</p>
                <input type="text" id="editRegionName" class="form-control" placeholder="Bölge Adı">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" id="saveRegionBtn" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Sıralama Modeli -->
<div class="modal fade" id="sortRegionsModal" tabindex="-1" aria-labelledby="sortRegionsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sortRegionsModalLabel">Bölgeleri Sırala</h5>
            </div>
            <div class="modal-body">
                <p>Bölgeleri yukarı ve aşağı hareket ettirerek sıralarını düzenleyebilirsiniz.</p>
                <ul id="sortableRegions" class="list-group">
                    <!-- Bölgeler burada listelenecek -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveOrderBtn">Sıralamayı Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Toplu Masa Ekleme Modalı -->
<div class="modal fade" id="bulkAddTableModal" tabindex="-1" role="dialog" aria-labelledby="bulkAddTableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulkAddTableModalLabel">Masa Tanımlama</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Masa Adı -->
                <div class="form-group">
                    <label for="tableName">Masa Adı</label>
                    <input type="text" class="form-control" id="tableName" placeholder="Masa Adı">
                </div>
                <!-- Masa Sayısı -->
                <div class="form-group">
                    <label for="tableCount">Masa Sayısı</label>
                    <input type="number" class="form-control" id="tableCount" placeholder="Masa Sayısı">
                </div>
                <!-- Masa Şekli -->
                <div class="form-group">
                    <label for="tableShape">Masa Şekli</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="shapeSquare" name="tableShape" value="Kare">
                        <label class="form-check-label" for="shapeSquare">Kare</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="shapeRound" name="tableShape" value="Yuvarlak">
                        <label class="form-check-label" for="shapeRound">Daire</label>
                    </div>
                </div>

                <!-- Bölge Seçimi -->
                <div class="form-group">
                    <label for="areaSelect">Bölge Seçimi</label>
                    <select class="form-control" id="areaSelect">
                        <!-- Bölgeler buraya AJAX ile yüklenecek -->
                    </select>
                </div>
                <!-- Masalar hangi bölgeye eklenecek -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveBulkTables">Kaydet</button>
            </div>
        </div>
    </div>
</div>

<!-- Masa Düzenleme Modalı -->
<div class="modal fade" id="editTableModal" tabindex="-1" role="dialog" aria-labelledby="editTableModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTableModalLabel">Masa Düzenleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Masa Adı -->
                <div class="form-group">
                    <label for="editTableName">Masa Adı</label>
                    <input type="text" class="form-control" id="editTableName" placeholder="Masa Adı">
                </div>
                <!-- Masa Şekli -->
                <div class="form-group">
                    <label for="editTableShape">Masa Şekli</label>
                    <div>
                        <input type="radio" id="editShapeSquare" name="editTableShape" value="Kare">
                        <label for="editShapeSquare">Kare</label>
                    </div>
                    <div>
                        <input type="radio" id="editShapeRound" name="editTableShape" value="Yuvarlak">
                        <label for="editShapeRound">Yuvarlak</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary" id="saveTableChanges">Kaydet</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.slimscroll/1.3.8/jquery.slimscroll.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/table-area.js"></script>
}
